USE [master]
GO
USE [BSK]
GO
USE [BSK]
GO
/****** Object:  Table [dbo].[ETYKIETY]    Script Date: 10.04.2017 04:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETYKIETY](
	[ID_ETYKIETY] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA_TENELI] [text] NOT NULL,
	[ETYKIETA] [int] NOT NULL,
 CONSTRAINT [PK_ETYKIETY] PRIMARY KEY CLUSTERED 
(
	[ID_ETYKIETY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OCENA]    Script Date: 10.04.2017 04:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCENA](
	[ID_OCENY] [int] IDENTITY(1,1) NOT NULL,
	[OCENA] [float] NOT NULL,
	[DATA] [date] NULL,
	[ID_UCZNIA] [int] NOT NULL,
	[ID_NAUCZYCIELA] [int] NOT NULL,
	[ID_PRZEDMIOTU] [int] NOT NULL,
 CONSTRAINT [PK_OCENA] PRIMARY KEY CLUSTERED 
(
	[ID_OCENY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROWADZI]    Script Date: 10.04.2017 04:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROWADZI](
	[ID_PRZEDMIOTU] [int] NOT NULL,
	[ID_NAUCZYCIELA] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRZEDMIOT]    Script Date: 10.04.2017 04:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRZEDMIOT](
	[ID_PRZEDMIOTU] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA] [text] NULL,
 CONSTRAINT [PK_PRZEDMIOT] PRIMARY KEY CLUSTERED 
(
	[ID_PRZEDMIOTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UCZEN]    Script Date: 10.04.2017 04:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UCZEN](
	[ID_UCZNIA] [int] IDENTITY(1,1) NOT NULL,
	[IMIE] [text] NOT NULL,
	[NAZWISKO] [text] NOT NULL,
	[DATA_URODZENIA] [date] NOT NULL,
	[KLASA] [text] NOT NULL,
	[NR_W_DZIENNIKU] [int] NOT NULL,
 CONSTRAINT [PK_UCZEN] PRIMARY KEY CLUSTERED 
(
	[ID_UCZNIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UZYTKOWNIK]    Script Date: 10.04.2017 04:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UZYTKOWNIK](
	[ID_UZYTKOWNIKA] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [text] NOT NULL,
	[HASLO] [text] NOT NULL,
	[IMIE] [text] NOT NULL,
	[NAZWISKO] [text] NOT NULL,
	[STANOWISKO] [text] NOT NULL,
	[ETYKIETA] [int] NOT NULL,
 CONSTRAINT [PK_UZYTKOWNIK] PRIMARY KEY CLUSTERED 
(
	[ID_UZYTKOWNIKA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
