USE [BSK]
GO
/****** Object:  Table [dbo].[ETYKIETY]    Script Date: 22.05.2017 04:58:48 ******/

CREATE TABLE [dbo].[ETYKIETY](
	[ID_ETYKIETY] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA_TABELI] [text] NOT NULL,
	[ETYKIETA] [int] NOT NULL,
 CONSTRAINT [PK_ETYKIETY] PRIMARY KEY CLUSTERED 
(
	[ID_ETYKIETY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OCENA]    Script Date: 22.05.2017 04:58:49 ******/

CREATE TABLE [dbo].[OCENA](
	[ID_OCENY] [int] IDENTITY(1,1) NOT NULL,
	[OCENA] [float] NOT NULL,
	[DATA] [date] NOT NULL,
	[ID_UCZNIA] [int] NOT NULL,
	[ID_NAUCZYCIELA] [int] NOT NULL,
	[ID_PRZEDMIOTU] [int] NOT NULL,
 CONSTRAINT [PK_OCENA] PRIMARY KEY CLUSTERED 
(
	[ID_OCENY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROWADZI]    Script Date: 22.05.2017 04:58:49 ******/

CREATE TABLE [dbo].[PROWADZI](
	[ID_PRZEDMIOTU] [int] NOT NULL,
	[ID_NAUCZYCIELA] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRZEDMIOT]    Script Date: 22.05.2017 04:58:49 ******/

CREATE TABLE [dbo].[PRZEDMIOT](
	[ID_PRZEDMIOTU] [int] IDENTITY(1,1) NOT NULL,
	[NAZWA] [text] NOT NULL,
 CONSTRAINT [PK_PRZEDMIOT] PRIMARY KEY CLUSTERED 
(
	[ID_PRZEDMIOTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UCZEN]    Script Date: 22.05.2017 04:58:49 ******/

CREATE TABLE [dbo].[UCZEN](
	[ID_UCZNIA] [int] IDENTITY(1,1) NOT NULL,
	[IMIE] [text] NOT NULL,
	[NAZWISKO] [text] NOT NULL,
	[DATA_URODZENIA] [date] NOT NULL,
	[KLASA] [text] NOT NULL,
	[NR_W_DZIENNIKU] [int] NOT NULL,
 CONSTRAINT [PK_UCZEN] PRIMARY KEY CLUSTERED 
(
	[ID_UCZNIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UZYTKOWNIK]    Script Date: 22.05.2017 04:58:49 ******/

CREATE TABLE [dbo].[UZYTKOWNIK](
	[ID_UZYTKOWNIKA] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [text] NOT NULL,
	[HASLO] [text] NOT NULL,
	[IMIE] [text] NOT NULL,
	[NAZWISKO] [text] NOT NULL,
	[STANOWISKO] [text] NOT NULL,
	[ETYKIETA] [int] NOT NULL,
 CONSTRAINT [PK_UZYTKOWNIK] PRIMARY KEY CLUSTERED 
(
	[ID_UZYTKOWNIKA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ETYKIETY] ON 

GO
INSERT [dbo].[ETYKIETY] ([ID_ETYKIETY], [NAZWA_TABELI], [ETYKIETA]) VALUES (1, N'ETYKIETY', 0)
GO
INSERT [dbo].[ETYKIETY] ([ID_ETYKIETY], [NAZWA_TABELI], [ETYKIETA]) VALUES (2, N'OCENA', 2)
GO
INSERT [dbo].[ETYKIETY] ([ID_ETYKIETY], [NAZWA_TABELI], [ETYKIETA]) VALUES (3, N'PROWADZI', 3)
GO
SET IDENTITY_INSERT [dbo].[ETYKIETY] OFF
GO
SET IDENTITY_INSERT [dbo].[OCENA] ON 

GO
INSERT [dbo].[OCENA] ([ID_OCENY], [OCENA], [DATA], [ID_UCZNIA], [ID_NAUCZYCIELA], [ID_PRZEDMIOTU]) VALUES (3, 2, CAST(N'2017-02-22' AS Date), 1, 8, 2)
GO
INSERT [dbo].[OCENA] ([ID_OCENY], [OCENA], [DATA], [ID_UCZNIA], [ID_NAUCZYCIELA], [ID_PRZEDMIOTU]) VALUES (4, 4, CAST(N'2017-03-15' AS Date), 2, 14, 5)
GO
INSERT [dbo].[OCENA] ([ID_OCENY], [OCENA], [DATA], [ID_UCZNIA], [ID_NAUCZYCIELA], [ID_PRZEDMIOTU]) VALUES (5, 1, CAST(N'2017-01-04' AS Date), 3, 9, 6)
GO
SET IDENTITY_INSERT [dbo].[OCENA] OFF
GO
INSERT [dbo].[PROWADZI] ([ID_PRZEDMIOTU], [ID_NAUCZYCIELA]) VALUES (2, 8)
GO
INSERT [dbo].[PROWADZI] ([ID_PRZEDMIOTU], [ID_NAUCZYCIELA]) VALUES (5, 14)
GO
INSERT [dbo].[PROWADZI] ([ID_PRZEDMIOTU], [ID_NAUCZYCIELA]) VALUES (6, 9)
GO
SET IDENTITY_INSERT [dbo].[PRZEDMIOT] ON 

GO
INSERT [dbo].[PRZEDMIOT] ([ID_PRZEDMIOTU], [NAZWA]) VALUES (2, N'Polski')
GO
INSERT [dbo].[PRZEDMIOT] ([ID_PRZEDMIOTU], [NAZWA]) VALUES (5, N'Biologia')
GO
INSERT [dbo].[PRZEDMIOT] ([ID_PRZEDMIOTU], [NAZWA]) VALUES (6, N'W-F')
GO
SET IDENTITY_INSERT [dbo].[PRZEDMIOT] OFF
GO
SET IDENTITY_INSERT [dbo].[UCZEN] ON 

GO
INSERT [dbo].[UCZEN] ([ID_UCZNIA], [IMIE], [NAZWISKO], [DATA_URODZENIA], [KLASA], [NR_W_DZIENNIKU]) VALUES (1, N'Anna', N'Wanna', CAST(N'2000-05-14' AS Date), N'2A', 26)
GO
INSERT [dbo].[UCZEN] ([ID_UCZNIA], [IMIE], [NAZWISKO], [DATA_URODZENIA], [KLASA], [NR_W_DZIENNIKU]) VALUES (2, N'Ewelina', N'Bączek', CAST(N'1999-12-13' AS Date), N'3B', 4)
GO
INSERT [dbo].[UCZEN] ([ID_UCZNIA], [IMIE], [NAZWISKO], [DATA_URODZENIA], [KLASA], [NR_W_DZIENNIKU]) VALUES (3, N'Adam', N'Raczkowski', CAST(N'2000-01-30' AS Date), N'2A', 20)
GO
SET IDENTITY_INSERT [dbo].[UCZEN] OFF
GO
SET IDENTITY_INSERT [dbo].[UZYTKOWNIK] ON 

GO
INSERT [dbo].[UZYTKOWNIK] ([ID_UZYTKOWNIKA], [LOGIN], [HASLO], [IMIE], [NAZWISKO], [STANOWISKO], [ETYKIETA]) VALUES (6, N'anawalka', N'uLZDI8fCm3FIDvODHMy16w==', N'Adam', N'Nawałk', N'Administrator', 0)
GO
INSERT [dbo].[UZYTKOWNIK] ([ID_UZYTKOWNIKA], [LOGIN], [HASLO], [IMIE], [NAZWISKO], [STANOWISKO], [ETYKIETA]) VALUES (7, N'krywio', N'qLAaB+Tpm0+JY2ETZ4ygBg==', N'Krystyna', N'Wiolin', N'Dyrektor', 3)
GO
INSERT [dbo].[UZYTKOWNIK] ([ID_UZYTKOWNIKA], [LOGIN], [HASLO], [IMIE], [NAZWISKO], [STANOWISKO], [ETYKIETA]) VALUES (8, N'akow', N'EpARfNTI9pAsaOBvp8tQ7g==', N'Bogdan', N'Kowalski', N'Nauczyciel', 2)
GO
SET IDENTITY_INSERT [dbo].[UZYTKOWNIK] OFF
GO
ALTER TABLE [dbo].[PROWADZI]  WITH CHECK ADD  CONSTRAINT [FK_PROWADZI_PRZEDMIOT] FOREIGN KEY([ID_PRZEDMIOTU])
REFERENCES [dbo].[PRZEDMIOT] ([ID_PRZEDMIOTU])
GO
ALTER TABLE [dbo].[PROWADZI] CHECK CONSTRAINT [FK_PROWADZI_PRZEDMIOT]
GO
ALTER TABLE [dbo].[PROWADZI]  WITH CHECK ADD  CONSTRAINT [FK_PROWADZI_UZYTKOWNIK] FOREIGN KEY([ID_NAUCZYCIELA])
REFERENCES [dbo].[UZYTKOWNIK] ([ID_UZYTKOWNIKA])
GO
ALTER TABLE [dbo].[PROWADZI] CHECK CONSTRAINT [FK_PROWADZI_UZYTKOWNIK]
GO
